@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@layer base {
    body {
        @apply font-lato font-normal 3xl:text-lg text-black-2
    }
}

@layer components {
    .slick-arrow {
        @apply hidden lg:block !important;
    }
    .slick-arrow::before {
        content: '' !important;
    }
    .slick-prev.slick-disabled, .slick-next.slick-disabled {
        opacity: .25 !important;
    }
    .slick-dots {
        bottom: -50px !important;
    }
    .slick-dots li {
        margin: 0 20px !important;
    }

    .slick-dots li {
        position: relative !important;
        display: inline-block !important;
        width: 14px !important;
        height: 14px !important;
        margin: 0 20px !important;
        border: 1px solid #09A274 !important;
        border-radius: 100% !important;
        cursor: pointer !important;
    }

    .slick-dots li button:before {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 14px !important;
        height: 14px !important;
        content: '' !important;
        background-color: 'transparent' !important;
    }

    .slick-dots .slick-active button:before {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 11px !important;
        height: 11px !important;
        content: '' !important;
        background-color: #09A274 !important;
        border-radius: 100% !important;
    }
}

@layer utilities {
    .shadow-1 {
        box-shadow: 0px 8px 8px #0000001A;
    }
    .shadow-2 {
        box-shadow: inset 0px 3px 6px #00000029, 0px 8px 8px #00000029;
    }
     /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}