@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

@layer base {
    body {
        @apply font-lato font-normal 3xl:text-lg text-black-2
    }
}

@layer components {
    .swiper {
        @apply overflow-x-hidden overflow-y-scroll no-scrollbar py-1 px-1  !important;
    }
    /*
    .swiper-pagination {
        @apply -bottom-12 !important;
    }
    */
    /*
    .swiper-pagination-bullet {
        @apply w-[14px] h-[14px] border-lemon rounded-full border bg-transparent mx-2 !important;
    }
    */
    /*
    .swiper-pagination-bullet-active {
        @apply bg-lemon !important;
    }
    */
}

@layer utilities {
    .shadow-1 {
        box-shadow: 0px 8px 8px #0000001A;
    }
    .shadow-2 {
        box-shadow: inset 0px 3px 6px #00000029, 0px 8px 8px #00000029;
    }
    .shadow-3 {
        box-shadow: 0px 3px 6px #0000001A;
    }
     /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}